{% block orderby_widget %}
    <div class="orderby">
        <span class="pull-left">{{ form_label(form['field']) }}</span>
        <span class="pull-left">{{ form_widget(form['field']) }}</span>
        {{ form_widget(form['order'], { 'attr': {'class' : 'pull-left'} }) }}
    </div>
{% endblock %}